body {
	background-color: #98edfc;
}

img {
	max-width:100%;
	border-radius: 8px;
	opacity: 0.9;
	filter: grayscale(20%);
}

h1 {
	text-decoration: underline;
	font-weight: bold;
	font-style: oblique;
	font-size: 24px;
	color: #05aaf7
}
h2 
{
	text-decoration: underline;
	font-weight: italic;
	font-size: 20px;
	color: #105ff3
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(224, 82, 82);
	font-size: large;
	padding-left: 46px;
}

ul 
{
    color: darkgoldenrod;
}
li
{
    display: inline;
    margin-left: 3vw;
    margin-right: 3vw;
}
